setuptools>=65.0.0
gunicorn>=21.2.0
flask
flask-sqlalchemy
flask-jwt-extended
flask-cors
werkzeug
python-multipart
python-socketio[client]
python-engineio
cryptography
eventlet>=0.33.3
flask-socketio
python-dotenv
psycopg2-binary
authlib
requests